<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body style="background-color:aliceblue" class="mb-0">
    <div class="bg-dark container-fluid">
        <div class="row m-0 justify-content-start">
            <h3 class="col-4 text-white justify-content-start text-left"><a href="/Home/Index" class="text-white" style="text-decoration:none;">Integrated Systems - HW1 - 191001</a></h3>
                <partial name="_LoginPartial" />

        </div>
    </div>
    @RenderBody()

</body>
</html>
