
<div class="container col-6 offset-3 text-center border border-dark rounded mt-5 pl-0 pr-0">
    <h1 class="text-center mt-2 text-danger">You do not have permissions to make the requested action!</h1>
    <hr />
    <a href="/Home/Index" class="btn btn-lg btn-block btn-primary col-12 ml-0 mr-0 ">Go back to Home Page</a>
</div>