
    <div class="container col-6 offset-3 text-center border border-dark rounded mt-5 pl-0 pr-0">
       <h1 class="text-center mt-2">Become an admin</h1>
        <hr/>
       <h5 class="text-center ml-3 mr-3">You will have extra features and authorization over the application, including: Creating, Editing and Deleting Movies and Projections, Exporting Reports about the Projections, and importing new Users from a File.</h5>
        <hr/>
        <a href="/Admin/BecomeAdminRequest" class="btn btn-lg btn-block btn-primary col-12 ml-0 mr-0 ">Become an Admin</a>
    </div>