<div class="container mt-4">
    <div class="row col-10 offset-1">
        <div class="col-12 border border-dark rounded mt-4">
            <h1 class="text-center">Export projections in Excel</h1>
            <hr/>
            <form action="/Admin/ExportProjections" method="get">
                <div class="form-group col-12">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category">
                        <option value="">--All Categories--</option>
                        @foreach (var c in ViewBag.categories)
                        {
                            <option value="@c">@c</option>
                        }
                    </select>
                </div>
                <hr/>
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Export Projections</button>
                </div>
            </form>
        </div>

        <div class="col-12 border border-dark rounded mt-5">
            <h1 class="text-center">Import users from Excel</h1>
            <hr />
            <form action="/Admin/ImportUsers" method="post" enctype="multipart/form-data">
                <div class="form-group col-12">
                    <label for="excelFile">Excel File</label>
                    <input type="file" class="form-control" id="excelFile" name="excelFile"/>
                </div>
                <hr />
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Import Users</button>
                </div>
            </form>
        </div>
    </div>
</div>

